<!DOCTYPE html>
<html lang="en">

<head>
    <title>Titan Interiors</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<style>
 html{
    overflow-x: hidden;
  }
</style>

<body style="
background-color: #9d9d9d;
">
    <nav class="navbar navbar-inverse ">
        <div class="container-fluid" style="
    padding-right:0px;
    padding-left:0px;
    ">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#MyNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span> 
            </button>
                <img src="../images/logo.png" style="
            height: 80px;
            width: 300px;
        ">
            </div>
            <div class="collapse navbar-collapse" id="MyNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="/" style="
            font-size: 20px;
               
                padding-bottom: 5px;
                top: 40px;
                left: 40px;
            ">Home</a></li>
                    <li><a href="/estimation" style="
            font-size: 20px;
                padding-bottom: 5px;
                top: 40px;
                left: 40px;
            ">Estimation</a></li>
            <li><a href="/Products" style="
                font-size: 20px;
                background-color:#222222;
                    padding-bottom: 5px;
                    top: 40px;
                    left: 40px;
                ">Products</a></li>
                    <li><a href="/contacts" style="
            font-size: 20px;
                padding-bottom: 5px;
                top: 40px;
                left: 40px;
            ">Contacts</a></li>
                    <li class="active"><a href="/about" style="
            font-size: 20px;
            background-color:#222222;
                padding-bottom: 5px;
                top: 40px;
                left: 40px;
            ">About</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/signup" style="
            font-size: 17px;
          padding-right: 15px;
      "><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="/login" style="
            font-size: 17px;
          padding-right: 40px;
          padding-left: 0px;
      "><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- about us -->
    <div class="row text-center">
        <div class="col-md-12">
            <h2 style="margin:0;"><b>About Us</b></h2>
        </div>
    </div>
    <hr />

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <img src="/images/titaninteriors.jpg" alt="Titan Interiors" style="width:450px; height:380px;">
        </div>
        <div class="col-md-5">
            <h4><b>About our Company</b></h4>
            <p>skjde jnfs njnbfunsj ebfujs bfjrv jbjbsj jrbjrnbjn jbrjbns vjbjr vjrbvjr nv jrbv vbrvur n vjrbjrnv nrbvjr vn
                fjbv vjbf rjbvjurjvjrbvnf jbv fjb nf vjh fn jfj bhf njf g h njgf hb gb h ng hb ghjb u nf hgf jbhghgbv ng
                hhb ng h nfg ub h fubhf hgbhgf hfb uf b gu hg
                <br>
                <br> kdssjfe jwehfuwen jenbfjwe jhnebjf jenbfjwe
            </p>
            
            <div class="social-icon">
                    <hr>
                <p>
                    
                    <h4><b>Find us on</b></h4>
                </p>

                <a style="font-size:35px; color:#333333; text-decoration:none; margin-right:5%" target="_blank" href="https://www.facebook.com/titaninterior/"
                    class="fa fa-facebook-square"></a>
                <a style="font-size:35px; color:#333333; text-decoration:none;  margin-right:5%" target="_blank" href="https://twitter.com/titaninteriorpk"
                    class="fa fa-twitter-square"></a>
                <a style="font-size:35px; color:#333333; text-decoration:none" target="_blank" href="https://www.instagram.com/titaninteriorspk/"
                    class="fa fa-instagram"></a>

            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
     
   
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-2">
            <br>
            <br>
            <br>
            <br>
            <a href="https://www.facebook.com/zunnurain.badar" style="color:#222222;">
                <img src="images/zunnurain.jpg" class="img-circle" alt="Cinque Terre" width="200" height="180" style=" border: 1px solid #222222;">
                <center><h4><b>Zunnurain Badar<br><h5>(CEO)</h5></b></h4></center></a>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-2">
                <br>
                <br>
                <br>
                <br>
    
                <a href="https://www.facebook.com/alamgir.qazi" style="color:#222222;">
                        <img src="images/alamgir.jpg" class="img-circle" alt="Cinque Terre" width="200" height="180" style=" border: 1px solid #222222;">
                        <center><h4><b>Alamgir Munir Qazi<br><h5>(CEO)</h5></b></h4></center></a>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-2">
                <br>
                <br>
                <br>
                <br>
    
                <a href="https://www.facebook.com/muneeb.mashwani" style="color:#222222;">
                        <img src="images/muneeb.jpg" class="img-circle" alt="Cinque Terre" width="200" height="180" style=" border: 1px solid #222222;">
                        <center><h4><b>Muneeb Ahmad Mashwani<br><h5>(CEO)</h5></b></h4></center></a>
        </div>
        <div class="col-md-2"></div>
    </div>


    <!-- end about us -->



    <footer>
        <div class="container text-center">
            <p style="padding-top:40px;">Copyright &copy; Titan Interiors 2017</p>
        </div>
    </footer>


</body>

</html>
