<!DOCTYPE html>
<html lang="en">

<head>
  <title>Titan Interiors</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<style>
  /* start contact */

  #contact .form-control {
    background: transparent;
    /* border: 1px solid #a20025; */
    border: 1px solid #28a7e9;
    border-radius: 2px;
    box-shadow: none;
    color: #fff;
    margin-top: 6px;
    margin-bottom: 16px;
  }

  #contact label {
    font-weight: 500;
  }

  #contact input {
    height: 50px;
  }

  #contact input[type="submit"] {
    background: #28a7e9;
    font-weight: bold;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }

  #contact input[type="submit"]:hover {
    background: transparent;
  }

  #contact address {
    border-bottom: 1px solid #505050;
    padding-top: 30px;
  }

  #contact address .address-title {
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 10px;
  }

  #contact address span {
    display: block;
    padding-bottom: 30px;
  }

  #contact address .fa {
    border: 1px solid #333333;
    border-radius: 2px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  /* end contact */
</style>

<body style="
background-color: #9d9d9d;
">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid" style="
    padding-right:0px;
    padding-left:0px;
    ">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#MyNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span> 
            </button>
        <img src="/images/logo.png" style="
            height: 80px;
            width: 300px;
        ">
      </div>
      <div class="collapse navbar-collapse" id="MyNavbar">
        <ul class="nav navbar-nav">
          <li><a href="/" style="
            font-size: 20px;
                padding-bottom: 5px;
                top: 40px;
                left: 40px;
            ">Home</a></li>
          <li><a href="/estimation" style="
            font-size: 20px;
                padding-bottom: 5px;
                top: 40px;
                left: 40px;
            ">Estimation</a></li>
            <li><a href="/VR" style="
              font-size: 20px;
              background-color:#222222;
                  padding-bottom: 5px;
                  top: 40px;
                  left: 40px;
              ">VR</a></li>
              <li id="history"><a href="/history" style="
                font-size: 20px;
                    padding-bottom: 5px;
                    top: 40px;
                    left: 40px;
                ">History</a></li>
          <li class="active"><a href="#" style="
            font-size: 20px;
                background-color:#222222;
                padding-bottom: 5px;
                top: 40px;
                left: 40px;
            ">Contacts</a></li>
          <li><a href="/about" style="
            font-size: 20px;
                padding-bottom: 5px;
                top: 40px;
                left: 40px;
            ">About</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right" id="app4">
          <li><a href="/signup" style="
            font-size: 17px;
          padding-right: 15px;
      "><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a href="/login" style="
            font-size: 17px;
          padding-right: 40px;
          padding-left: 0px;
      "><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <script>
    // logout
    function logout(){
        console.log("kuch b")
        localStorage.removeItem("userInfo");
        location.reload();
      }
  window.onload=function(){
    if(localStorage.getItem("userInfo")){
          document.getElementById("app4").innerHTML= `<li><a style="
    font-size: 17px;
  padding-right: 15px;
"><span class="glyphicon glyphicon-user"></span>         `+JSON.parse(localStorage.getItem("userInfo")).FirstName+`</a></li>
            <li><button onClick=logout() class="btn btn-danger btn-xs"style="
    font-size: 17px;
  padding-right: 20px;
  padding-left: 1%;
  
  margin-top: 10%;
  padding-left: 0px;
"><span class="glyphicon glyphicon-log-out"></span> LogOut</button></li>`
        }
  }
  </script>


  <!-- start contact -->
  <section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <center>
            <h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s"><b>CONTACT US</b><span></span></h2>
          </center>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-offset="50" data-wow-delay="0.9s">

          <div align="center">
            <br>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13304.551748089989!2d73.14156903894464!3d33.52379915386448!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd6cf3d62d9e39fe5!2sTitan+Interiors!5e0!3m2!1sen!2sus!4v1471513308186"
              height="400px" width="400px" frameborder="0" style="border:0"></iframe>
          </div>


        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 wow fadeInRight" data-wow-offset="50" data-wow-delay="0.6s">
          <address>
            <p class="address-title">OUR ADDRESS</p>
            <!-- <span>Lorem ipsum dolor sit amet, consectetur adipiscing elitquisque tempus ac eget diam et laoreet phasellus ut nisi id leo molestie.</span> -->
            <p><i class="fa fa-phone"></i> 051-5709309</p>
            <p><i class="fa fa-mobile-phone"></i> 0334-5511579</p>
            <p><i class="fa fa-envelope-o"></i> munirqazi@titaninteriorspk.com</p>
            <p><i class="fa fa-map-marker"></i> Shop # 1, Pindi Plaza, DHA 2, G.T Road, Islamabad</p>
          </address>
          <div class="social-icon">
            <p>
              <h3><b>Find us on</b></h3>
            </p>

            <a style="font-size:35px; color:#333333; text-decoration:none; margin-right:5%" target="_blank" href="https://www.facebook.com/titaninterior/"
              class="fa fa-facebook-square"></a>
            <a style="font-size:35px; color:#333333; text-decoration:none;  margin-right:5%" target="_blank" href="https://twitter.com/titaninteriorpk"
              class="fa fa-twitter-square"></a>
            <a style="font-size:35px; color:#333333; text-decoration:none" target="_blank" href="https://www.instagram.com/titaninteriorspk/"
              class="fa fa-instagram"></a>

          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end contact -->

  <footer>
    <div class="container text-center">
      <p style="padding-top:40px;">Copyright &copy; Titan Interiors 2017</p>
    </div>
  </footer>


</body>

</html>