<!DOCTYPE html>
<html lang="en">

<head>
  <title>Titan Interiors</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://unpkg.com/vue"></script>
</head>

<style>
  html{
    overflow-x: hidden;
  }
 iframe:focus { 
    outline: none;
}

iframe[seamless] { 
    display: block;
}
#invoicebody{
        font-weight: 700;
        font-size: 17px;
    }
</style>

<body style="
background-color: #9d9d9d;
">
  <nav class="navbar navbar-inverse ">
    <div class="container-fluid" style="
    padding-right:0px;
    padding-left:0px;
    ">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#MyNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span> 
            </button>
        <img src="../images/logo.png" style="
            height: 80px;
            width: 300px;
        ">
      </div>
      <div class="collapse navbar-collapse" id="MyNavbar">
        <ul class="nav navbar-nav">
          <li><a href="/" style="
            font-size: 20px;
                padding-bottom: 5px;
                top: 40px;
                left: 40px;
            ">Home</a></li>
          <li><a href="/estimation" style="
            font-size: 20px;
                padding-bottom: 5px;
                top: 40px;
                left: 40px;
            ">Estimation</a></li>
          <li><a href="/VR" style="
            font-size: 20px;
            
                padding-bottom: 5px;
                top: 40px;
                left: 40px;
            ">VR</a></li>
            <li class="active" id="history"><a href="/history" style="
                font-size: 20px;
                    padding-bottom: 5px;
                    background-color:#222222;
                    top: 40px;
                    left: 40px;
                ">History</a></li>
          <li><a href="/contacts" style="
            font-size: 20px;
                padding-bottom: 5px;
                top: 40px;
                left: 40px;
            ">Contacts</a></li>
          <li><a href="/about" style="
            font-size: 20px;
                padding-bottom: 5px;
                top: 40px;
                left: 40px;
            ">About</a></li>
            
        </ul>
        <ul class="nav navbar-nav navbar-right" id="app5">
          <li><a href="/signup" style="
            font-size: 17px;
          padding-right: 15px;
      "><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a href="/login" style="
            font-size: 17px;
          padding-right: 40px;
          padding-left: 0px;
      "><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
      </div>
    </div>
  </nav>
<script>
    // logout
    function logout(){
        console.log("kuch b")
        localStorage.removeItem("userInfo");
        location.reload();
      }
    var app4;
    window.onload=function(){
        if(localStorage.getItem("userInfo")){
          document.getElementById("app5").innerHTML= `<li><a style="
    font-size: 17px;
  padding-right: 15px;
"><span class="glyphicon glyphicon-user"></span>         `+JSON.parse(localStorage.getItem("userInfo")).FirstName+`</a></li>
            <li><button onClick=logout() class="btn btn-danger btn-xs"style="
    font-size: 17px;
  padding-right: 20px;
  padding-left: 1%;
  
  margin-top: 10%;
  padding-left: 0px;
"><span class="glyphicon glyphicon-log-out"></span> LogOut</button></li>`

        }else{
          $('#app4').hide();
            
            document.getElementById('app6').innerHTML =
                                    `
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <div class="alert alert-danger alert-dismissable fade in">
                                
                                <strong><center>Please Login to view history</center></strong>
                              </div>`;  

        }
        console.log("onload")
        
        $.ajax({ 
          
                                    type: "POST",
                                    url: "/searchhistory",
                                    data:{id:JSON.parse(localStorage.getItem('userInfo'))._id}
            
                                })
                                .done(function (data) {
                                    console.log("this is data",data)
                                  

                                        app4 = new Vue({
                                        el: '#app4',
                                        data: {
                                            data
                                        },
                                         
                            
                                    })
                                    if(data==""){
                                        $('#app4').hide();
                                        
                                document.getElementById('app6').innerHTML =
                                    `<br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <div class="alert alert-danger alert-dismissable fade in">
                                
                                <strong><center>Your history is empty</center></strong>
                              </div>`;
                                   }
                                   else{

                                   }
 
                                   
                                })
                                .fail(function () {
            
                                });
    }
</script>

<div class="row">
  <div class="col-md-4"></div>
  
  <div class="col-md-4" id="app6">
  </div>
  <div class="col-md-4"></div>
</div>

  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8" id="app4">
        <div class="panel panel-default" v-for="History in data">
            <div class="panel-heading"  style="background:#A10029; color:white; font-size:17px; "><center><b>Invoice </b> <p>{{History.date}}</p></center></div>
            <div class="panel-body" id="invoicebody">
              <div class="row" >
                <div class="col-md-8">
                    <ul >
                        
                            <li>
                                <p>Width : </p>
                            </li>
                            
                            <li>
                                <p>Height : </p>
                            </li>

                            <li>
                                <p>Name : </p>
                            </li>
                        
                            <li>
                                <p>Price : </p>
                            </li>
                            
                            <li>
                                <p>No of Rolls :</p>
                            </li>
                            
                            <li>
                                <p>Cost : </p>
                            </li>
                            
                            <li>
                                <p>Wastage :</p>
                            </li>
                            
                            <li>
                                <p>No of Rolls with Wastage : </p>
                            </li>
                            
                            <li>
                                <p>Total Cost :</p>
                            </li>
                            
                        </ul>
                </div>
                <div class="col-md-4">
                    <div >
                        
          
                            
                        
                            <p> {{History.width}} </p>
                            
                        
                            <p> {{History.height}} </p>
                            
                        
                            <p> {{History.name}} </p>
                            
                        
                            <p> {{History.price}} /piece </p>
                        
                        
                            <p> {{History.no_of_rolls}} </p>
                            
                        
                            <p> {{History.cost}} </p>
                            
                    
                            <p> 3 Percent </p>

                            
                            <p> {{History.no_of_rolls2}} </p>

                            
                            <p> {{History.totalcost}} </p>
                        
                    </div>
                </div>
              </div>
            </div>
          </div>
        
    </div>
<div class="col-md-2"></div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
  <footer>
        <div class="container text-center">
          <p style="padding-top:40px;">Copyright &copy; Titan Interiors 2017</p>
        </div>
      </footer>
    
    
    </body>
    
    </html>